<div ng-controller="main" class="full-height">
 <div class="row">
    <div class="small-12 columns">
      <img src="img/logo.png"/>
    </div>
  </div>
  
  <div class="row">
    <div class="small-5 columns">
        <button class='button' ng-click="about()">Go To About</button>
        <button class='button' ng-click="camera()">Use camera</button>
    </div>
    <div class="small-7 columns">
        <a href="skype:echo123?call">Skype call to echo123</a><br><br>
        <a href="sms:12345678?body=Hello my friend">SMS</a> <br><br>
        <a href="mailto:nobody@wordpress.com?subject=Testing mailto&cc=no.one@wrodpress.com&body=aha">Mail</a>  <br><br>
        <a href="sms:123456">New SMS Message to 123456</a> <br><br>
        <a href="tel:123455">Call 123456</a><br><br>
        <a href="webcal://192.168.2.103/phonegap-build-test-master/webapp/test.ics">Testevent</a><br>
    </div>
  </div>
</div>